header{
  background-image: url(../img/azul.jpg);
  text-align: center;
  padding: 300px;
}
h1{
	text-align: center;
	text-size: 30px;
	color: #FFFFFF;
	font-family: Arial;
	background-color: #8A2BE2;
	padding-top: 30px;
	padding right: 30px;
    padding-left: 30px;

}
h2{
	text-align: center;
    text-size: 40px;
	color:#FFFFFF;
	font-family: Arial;
	background-color: #FFD700;
}
h3{
	text-align: center;
	text-size: 40px;
	color:#FFFFFF;
	font-family: arial;
	background-color: #FFD700;
	padding-right: 30px;
	padding-left: 30px;
}
h4{
text-align: center;
text-size: 30px;
color: #FFFFFF;
font-family: arial;
background-color: #FFD700;
padding: 2Opx;
}
h5{
	text-align: center:
	text-size: 60px;
	color: #FFFFFF;
	font-family: arial;
	background-color: #FFD700;
	padding: 20px;
}
#lista{
	list-style-type: none;
	text-decoration: none;
}